In [4]:
import requests
import pandas as pd

# Login

### O login na API, leva em contas os campos username e password, sendo username o emial do usuário

In [5]:
# roda acesso, api/
url = "http://127.0.0.1:9000/api/".replace("\\","/")

In [6]:
username="testeuser@zeladorx.com.br"
password="TESte2026&"

body = {
    "username":username,
    "password":password
}

In [7]:
response = requests.post("http://127.0.0.1:9000/api/login", body)

In [8]:
# dados do usuário logado
response.json()

# {
#     'token': '171db50f8cc06dae8ae7338bdc5048ddc97f6784', #token de acesso
#     'id_random': '6uW6BnjPFHyd', #id randomico unico
#     'user_id': 1, #id de chave primaria
#     'username': 'zeladorx', #username
#     'email': 'zeladorx@zeladorx.com.br', #email
#     'is_superuser': True, #é superusario do ecossitema contratado
# }

{'token': '171db50f8cc06dae8ae7338bdc5048ddc97f6784',
 'id_random': '6uW6BnjPFHyd',
 'user_id': 1,
 'username': 'zeladorx',
 'email': 'zeladorx@zeladorx.com.br',
 'is_superuser': True}

# Auth

In [9]:
# todas as rotas precisam do tokem para ser acessada
headers = {
    "Authorization": f"Token {response.json()['token']}"
}

# Áreas de jardinagem

# Lista de Areas cadastradas

In [26]:
# retorna todas as áreas cadastradas, que o usário tem permissão para visualizar
# codigo de permissão necessário --> 252: Pode visualizar áreas de jardinagem
response = requests.get("http://127.0.0.1:9000/api/areas/ListAreasJardinagem/", headers=headers)
response.json()['results']
df = pd.DataFrame(response.json()['results'])
display(df)

,id,id_random,nome,dimensao,Terreno,vegetacao,servico,localidade,foto,periodicidade,status
0,12,gW966dvHGsLN,testes if delete,874.0,2,2,1,1,None,Mensal,Mobilizado

# Criar nova área

In [11]:
## As colunas, Terreno, vegetacao, servico, localidade são chaves estrangeiras e precisam estar devidamente configuradas
## sendo obriagatorios

In [12]:
# Lista de terenos que podem ser enviados pelo usuario logado
# nao precisa de permissao
print("Terrenso disponiveis")
response = requests.get("http://127.0.0.1:9000/api/terrenos/ListTerrenosFromForms/", headers=headers)
response.json()
df = pd.DataFrame(response.json()['results'])
display(df)
print()


# Lista de vegetacoes que podem ser enviados pelo usuario logado
# nao precisa de permissao
print("Vegetações disponiveis")
response = requests.get("http://127.0.0.1:9000/api/vegetacao/ListCatalogoVegetacaoFromForms/", headers=headers)
response.json()
df = pd.DataFrame(response.json()['results'])
display(df)


# Lista de servicos que podem ser enviados pelo usuario logado
# nao precisa de permissao
print("Servicos disponiveis")
response = requests.get("http://127.0.0.1:9000/api/catalogo_de_servicos/ListCatalogodeServicoJardinagemFromForms/", headers=headers)
response.json()
df = pd.DataFrame(response.json()['results'])
display(df)


# Lista de localidades que podem ser enviados pelo usuario logado
# nao precisa de permissao
print("Localidades disponiveis")
response = requests.get("http://127.0.0.1:9000/api/localidades/ListLocalidadeJardinagemFromForms/", headers=headers)
response.json()
df = pd.DataFrame(response.json()['results'])
display(df)

Terrenso disponiveis

,id,id_random,nome,EmpresaSecundaria,status
0,2,rATz5acGqEV0,tereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee...,1,Mobilizado
1,4,Q84TDzDkEPHe,zeladorx@zeladorx.com.br,1,Mobilizado
2,5,uShhQJaB5QNe,terreno edita jupyter,1,Mobilizado
3,7,acg0vezB2MZj,terreno edita jupyter,6,Mobilizado
4,8,H0r7zVaTfScZ,terreno edita jupyter,6,Mobilizado
5,9,Iavof2iTdjh9,terreno edita jupyter,6,Mobilizado
6,10,11pHYbIYFHD8,terreno edita jupyter,6,Mobilizado

Vegetações disponiveis

   id     id_random             nome  EmpresaSecundaria      status
0   2  AKzwQ76XDGu0  empresa jupyter                  1  Mobilizado
1   3  JUAyrwKwExBm  empresa jupyter                  1  Mobilizado
2   4  aYNm7e9wc3Xn  empresa jupyter                  4  Mobilizado
3   5  biiFu1kF6WGq  empresa jupyter                  9  Mobilizado
4   6  7C4tSQnCPQ64  empresa jupyter                  9  Mobilizado

Servicos disponiveis

   id     id_random                       nome  EmpresaSecundaria      status
0   1  gelP0OZifsu1       Markos Alves Pereira                  1  Mobilizado
1   2  MLrCUtPzNxW8  vegeta jupyter atualizada                  9  Mobilizado
2   3  iBjLYt9CzNW5             catalogo teste                  9  Mobilizado

Localidades disponiveis

   id     id_random          nome  lat_med  long_med  unidade      status
0   4  ge0FzCRcrraF  space markos    121.0     123.0        2  Mobilizado

In [13]:
# exemplo de envio de boby para criar uma nova aréa
body = {
    'nome': "area jupyter", 
    'dimensao': 1568, 
    'Terreno': 5, # vem de api/terrenos/ListTerrenosFromForms/
    'vegetacao': 2, # vem de api/vegetacao/ListCatalogoVegetacaoFromForms/
    'servico': 2, # vem de /api/catalogo_de_servicos/ListCatalogodeServicoJardinagemFromForms/
    'localidade': 4,  # vem de api/localidades/ListLocalidadeJardinagemFromForms/
    'foto': "", #Tipo file    
    'periodicidade': "Mensal", # opcoes disponiveis 'Mensal', 'Semanal', 'Quinzenal', 'Bimestral', 'Trimestral', 'Semestral', 'Anual',
}

In [14]:
# codigo de permissão necessário --> 250: Pode criar novas áreas de jardinagem
response = requests.post("http://127.0.0.1:9000/api/areas/CreateAreaJardinagem/", body, headers=headers)
response.json()

{'success': True,
 'message': 'AreasJardins criado com sucesso.',
 'data': {'id': 11,
  'id_random': 'lm4B3m2v88ed',
  'nome': 'area jupyter',
  'dimensao': 1568.0,
  'Terreno': 5,
  'vegetacao': 2,
  'servico': 2,
  'localidade': 4,
  'foto': None,
  'periodicidade': 'Mensal',
  'status': 'Mobilizado'}}

# Detalhes area

In [15]:
# essa rota recebe o id random da área como parametro de url, consultar em api/areas/ListAreasJardinagem/
# detalhes da áreac riada anteriormente, obeserve o id_random
# http://127.0.0.1:9000/api/areas/AreasJardinagemDetail/id_random/
# codigo de permissão necessário --> 252: Pode visualizar áreas de jardinagem
response = requests.get("http://127.0.0.1:9000/api/areas/AreasJardinagemDetail/IEWk9geSLqsF/", headers=headers)
response.json()

{'id': 10,
 'id_random': 'IEWk9geSLqsF',
 'nome': 'area jupyter',
 'dimensao': 1568.0,
 'Terreno': 5,
 'vegetacao': 2,
 'servico': 2,
 'localidade': 4,
 'foto': None,
 'periodicidade': 'Bimestral',
 'status': 'Desmobilizado'}

# Atualizar area

In [16]:
# as chaves body da atualização é exatamente igual o body da criacao
# atualiando a periodicidade para bimestral
body = {
    'nome': "area jupyter", 
    'dimensao': 1568, 
    'Terreno': 5, # vem de api/terrenos/ListTerrenosFromForms/
    'vegetacao': 2, # vem de api/vegetacao/ListCatalogoVegetacaoFromForms/
    'servico': 2, # vem de /api/catalogo_de_servicos/ListCatalogodeServicoJardinagemFromForms/
    'localidade': 4,  # vem de api/localidades/ListLocalidadeJardinagemFromForms/
    'foto': "", #Tipo file    
    'periodicidade': "Bimestral", # opcoes disponiveis 'Mensal', 'Semanal', 'Quinzenal', 'Bimestral', 'Trimestral', 'Semestral', 'Anual',
}

In [17]:
# essa rota recebe o id random da área como parametro de url, consultar em api/areas/ListAreasJardinagem/
# atualizando a área criada anteriormente, obeserve o id_random
# codigo de permissão necessário --> 251: Pode editar áreas de jardinagem
response = requests.put("http://127.0.0.1:9000/api/areas/AreasJardinagemUpdate/IEWk9geSLqsF/", body, headers=headers)
response.json()

{'success': True,
 'message': 'AreasJardins atualizado com sucesso.',
 'data': {'id': 10,
  'id_random': 'IEWk9geSLqsF',
  'nome': 'area jupyter',
  'dimensao': 1568.0,
  'Terreno': 5,
  'vegetacao': 2,
  'servico': 2,
  'localidade': 4,
  'foto': None,
  'periodicidade': 'Bimestral',
  'status': 'Desmobilizado'}}

# Alterar status area

In [18]:
# essa rota recebe o id random da área como parametro de url, consultar em api/areas/ListAreasJardinagem/
# atualizando a área criada anteriormente, obeserve o id_random
# codigo de permissão necessário --> 
# 254: Pode desmobilizar áreas de jardinagem ou demosbilizar (Desmobilizado) ou
# 255: Pode reabilitar áreas de jardinagem para reabilitar (Mobilizado)

body = {
    'status': 'Desmobilizado',
}

response = requests.put("http://127.0.0.1:9000/api/areas/AreasJardinagemAlterStatus/IEWk9geSLqsF/", body, headers=headers)
response.json()

{'success': True,
 'message': "Status da área de jardinagem atualizado com sucesso. Novo status: 'Desmobilizado'.",
 'data': {'id_random': 'IEWk9geSLqsF', 'status': 'Desmobilizado'}}

# Se deletar area

In [19]:
# essa rota recebe o id random da área como parametro de url, consultar em api/areas/ListAreasJardinagem/
# codigo de permissão necessário --> 253: Pode excluir áreas de jardinagem

response = requests.get("http://127.0.0.1:9000/api/areas/IfDeleteAreasJardinagem/CVkjxrF94jhG/", headers=headers)
response.json()

{'objeto_principal': 'area jupyter | space markos -- aLKFJKBWFJBSDJCKBSAJCBSKJDBCKSDBJCKBSDJK',
 'resumo': {'AreasJardins': 1},
 'objetos_em_cascata': ['- area jupyter | space markos -- aLKFJKBWFJBSDJCKBSAJCBSKJDBCKSDBJCKBSDJK']}

# Deleção da área

In [23]:
# essa rota recebe o id random da área como parametro de url, consultar em api/areas/ListAreasJardinagem/
# codigo de permissão necessário --> 253: Pode excluir áreas de jardinagem

response = requests.delete("http://127.0.0.1:9000/api/areas/DeleteAreasJardinagem/fv606QhhZNxf/", headers=headers)
response.json()

{'detail': "AreasJardins 'ARea post man 1 | space markos -- aLKFJKBWFJBSDJCKBSAJCBSKJDBCKSDBJCKBSDJK' foi deletado com sucesso."}

# areas disponiveis para formularios

In [21]:
# areas desmobilizadas da operação nao podem receber servicos, consultar no manual de intruções
# não precisa de permissão
response = requests.get("http://127.0.0.1:9000/api/areas/ListAreasJardinagemFromFoms/", headers=headers)
response.json()
df = pd.DataFrame(response.json()['results'])
display(df)

,id,id_random,nome,dimensao,Terreno,vegetacao,servico,localidade,foto,periodicidade,status
0,1,fv606QhhZNxf,ARea post man 1,1000.0,3,1,1,4,None,Semestral,Mobilizado
1,2,hrDNIOMD846d,ARea post man,1567.0,1,1,1,1,None,Semestral,Mobilizado
2,3,TMfwGyydy4TO,ARea post man 1,1000.0,1,1,1,1,None,Mensal,Mobilizado
3,4,6PZrwKucJ8DY,ARea post man 1,1000.0,1,1,1,1,None,Semestral,Mobilizado
4,6,dqqj32YqQQet,ARea post man 1,1000.0,1,1,1,4,None,Semestral,Mobilizado
5,7,RI9y34a49pds,ARea post man 1,1000.0,1,1,1,4,None,Semestral,Mobilizado
6,8,or5DdMufYyKX,testes if delete,874.0,2,5,2,4,None,Mensal,Mobilizado

# Endpoints Extras

# Areas associadas ha uma localdiade especifica

In [22]:
# o parametrod e url e o id random de alguma localidade nao de uma area
# disponivel em api/localidades/ListLocalidadeJardinagem/
# codigo de permissão necessário -> '252: Pode visualizar áreas de jardinagem'
response = requests.get("http://127.0.0.1:9000/api/areas/AreasAssociadasLocalidadeJardinagem/5aL9y6XsNngG/", headers=headers)
response.json()
df = pd.DataFrame(response.json())
display(df)

,id,id_random,nome,dimensao,Terreno,vegetacao,servico,localidade,foto,periodicidade,status
0,2,hrDNIOMD846d,ARea post man,1567.0,1,1,1,1,None,Semestral,Mobilizado
1,3,TMfwGyydy4TO,ARea post man 1,1000.0,1,1,1,1,None,Mensal,Mobilizado
2,4,6PZrwKucJ8DY,ARea post man 1,1000.0,1,1,1,1,None,Semestral,Mobilizado

# Tempo desde o utimo atendimento a área

In [24]:
# o parametrod e url e o id random de alguma localidade nao de uma area
# não precisa de permissão
# retornas os dados do ultimo atendimento as áres de jardinagem ombilizadas e quanto tempo falta para o proximo atentidemnto com base na periodicidade
response = requests.get("http://127.0.0.1:9000/api/areas/TempoDesdeUltimoAtendimentoJardinagem/", headers=headers)
response.json()
df = pd.DataFrame(response.json())
display(df)

,id,Areas,Periodicidade,DataDeInicio,DataDeConclusao,ServicosEscalados,ColaboradoresEscalados,TipoServico,DescricaoDoServico,tempo_desde_ultimo_atendimento,data_retorno_formatada,dias_restantes
0,4,ARea post man 1 | space markos -- aLKFJKBWFJBS...,Semestral,2025-08-07T14:49:00Z,2025-08-07T14:49:00Z,[Markos Alves Pereira],"[markos, teseteconfigpostman]",Regular,steste,2 dias,06/02/2026,181