In [17]:
import requests
import pandas as pd

# Login

In [18]:
url = "http://127.0.0.1:9000/api/".replace("\\","/")

In [19]:
username="zeladorx@zeladorx.com.br"
password="Amendoin123"

body = {
    "username":username,
    "password":password
}

In [20]:
response = requests.post("http://127.0.0.1:9000/api/login", body)

In [21]:
response.json()

{'token': '171db50f8cc06dae8ae7338bdc5048ddc97f6784',
 'id_random': '6uW6BnjPFHyd',
 'user_id': 1,
 'username': 'zeladorx',
 'email': 'zeladorx@zeladorx.com.br',
 'is_superuser': True}

# Auth

In [22]:
headers = {
    "Authorization": f"Token {response.json()['token']}"
}

# Terrenos

# lista de terrenos

In [23]:
# retorna todas as terrenos cadastradas, que o usário tem permissão para visualizar
# codigo de permissão necessário --> 332: Pode visualizar terrenos'
response = requests.get("http://127.0.0.1:9000/api/terrenos/ListTerrenos/", headers=headers)
df = pd.DataFrame(response.json()['results'])
display(df)

,id,id_random,nome,EmpresaSecundaria,status
0,2,rATz5acGqEV0,tereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee...,1,Mobilizado
1,4,Q84TDzDkEPHe,zeladorx@zeladorx.com.br,1,Mobilizado
2,5,uShhQJaB5QNe,terreno edita jupyter,1,Mobilizado
3,6,PVtOuGGY36VU,terreno edita jupyter,6,Desmobilizado
4,7,acg0vezB2MZj,terreno edita jupyter,6,Mobilizado
5,8,H0r7zVaTfScZ,terreno edita jupyter,6,Mobilizado
6,9,Iavof2iTdjh9,terreno edita jupyter,6,Mobilizado
7,10,11pHYbIYFHD8,terreno edita jupyter,6,Mobilizado

## Criar terreno

In [24]:
## As colunas EmpresaSecundaria são chaves estrangeiras e precisam estar devidamente configuradas
## sendo obriagatorios

In [12]:
# Lista de empresas que podem ser enviadas pelo usuario
# nao precisa de permissao
print("Empresas secundarias")
response = requests.get("http://127.0.0.1:9000/api/empresas_secundarias/ListEmpresaSecundariaJardinagemFromForms/", headers=headers)
response.json()
df = pd.DataFrame(response.json()['results'])
display(df)
print()

Empresas secundarias

,id,id_random,nome,setor,empresaprimaria,status
0,2,YaCmoR89ZFtU,EmpJardPostMaN edita jupyter,"[1, 2]",1,Mobilizado
1,6,ajlcQ0i5KuZ9,EmpJardPostMaN,[1],1,Mobilizado
2,7,jy7bch8qQ4Ou,empresa jupyter,[1],1,Mobilizado
3,9,rPdhBql1vAEq,empresa jupyter 3,"[1, 2]",1,Mobilizado
4,10,gYVMI4M6NG6o,empresa jupyter,[1],1,Mobilizado

In [13]:
new_body = {
     'nome': 'terreno edita jupyter',
     'EmpresaSecundaria': 6,  # vem de api/empresas_secundarias/ListEmpresaSecundariaJardinagemFromForms/
}
# codigo de permissão necessário --> 330: Pode criar novos terrenos
response = requests.post("http://127.0.0.1:9000/api/terrenos/CreateTerreno/", new_body, headers=headers)
response.json()

{'success': True,
 'message': 'Terreno criado com sucesso.',
 'data': {'id': 10,
  'id_random': '11pHYbIYFHD8',
  'nome': 'terreno edita jupyter',
  'EmpresaSecundaria': 6,
  'status': 'Mobilizado'}}

# Atualizar terrenos

In [14]:
# as chaves body da atualização é exatamente igual o body da criacao
# atualiando o nome para 'terreno edita jupyter
new_body = {
     'nome': 'terreno edita jupyter',
     'EmpresaSecundaria': 6,  # vem de api/empresas_secundarias/ListEmpresaSecundariaJardinagemFromForms/
}

# essa rota recebe o id random da tereno como parametro de url, consultar em api/terrenos/ListTerrenos/
# atualizando a servico criada anteriormente, obeserve o id_random
# codigo de permissão necessário --> 331: Pode editar terrenos
response = requests.put("http://127.0.0.1:9000/api/terrenos/TerrenoUpdate/PVtOuGGY36VU/", new_body, headers=headers)
response.json()

{'success': True,
 'message': 'Terreno atualizado com sucesso.',
 'data': {'id': 6,
  'id_random': 'PVtOuGGY36VU',
  'nome': 'terreno edita jupyter',
  'EmpresaSecundaria': 6,
  'status': 'Desmobilizado'}}

# Detalhes terrenos

In [47]:
# essa rota recebe o id random da terreno como parametro de url, consultar em api/terrenos/ListTerrenos/
# detalhes do terreno criado anteriormente, obeserve o id_random
# http://127.0.0.1:9000/api/terrenos/TerrenoDetail/id_random/
# codigo de permissão necessário --> 332: Pode visualizar terrenos
response = requests.get("http://127.0.0.1:9000/api/terrenos/TerrenoDetail/PVtOuGGY36VU/", new_body, headers=headers)
response.json()

{'id': 6,
 'id_random': 'PVtOuGGY36VU',
 'nome': 'terreno edita jupyter',
 'EmpresaSecundaria': 6,
 'status': 'Mobilizado'}

# Alterar status

In [15]:
# essa rota recebe o id random da terenos como parametro de url, consultar em api/terrenos/ListTerrenos/
# atualizando a terreno criada anteriormente, obeserve o id_random
# codigo de permissão necessário --> 
# 334: Pode desmobilizar terrenos para demosbilizar (Desmobilizado) ou
# 335: Pode reabilitar terrenos para reabilitar (Mobilizado)
new_body = {
    'status': 'Desmobilizado'
}

response = requests.put("http://127.0.0.1:9000/api/terrenos/TerrenoAlterStatus/PVtOuGGY36VU/", new_body, headers=headers)
response.json()

{'success': True,
 'message': "Status do terreno atualizado com sucesso. Novo status: 'Desmobilizado'.",
 'data': {'id_random': 'PVtOuGGY36VU', 'status': 'Desmobilizado'}}

# If delete Terreno

In [25]:
# essa rota recebe o id random da terreno como parametro de url, consultar em api/terrenos/ListTerrenos/
# codigo de permissão necessário --> 333: Pode excluir terrenos
response = requests.get("http://127.0.0.1:9000/api/terrenos/IfDeleteTerreno/PVtOuGGY36VU/", new_body, headers=headers)
response.json()

{'objeto_principal': 'terreno edita jupyter',
 'resumo': {'Terreno': 1},
 'objetos_em_cascata': ['- terreno edita jupyter']}

# Deleção de terrenos

In [28]:
# essa rota recebe o id random da terreno como parametro de url, consultar em api/terrenos/ListTerrenos/
# codigo de permissão necessário --> 333: Pode excluir terrenos
response = requests.delete("http://127.0.0.1:9000/api/terrenos/DeleteTerreno/PVtOuGGY36VU/", headers=headers)
response.json()

{'detail': "Terreno 'terreno edita jupyter' foi deletado com sucesso."}

# Terrenos from forms

In [63]:
# terrenos desmobilizadas da operação nao podem receber servicos, consultar no manual de intruções
# não precisa de permissão
response = requests.get("http://127.0.0.1:9000/api/terrenos/ListTerrenosFromForms/", headers=headers)
response.json()['results']
df = pd.DataFrame(response.json()['results'])
display(df)

,id,id_random,nome,EmpresaSecundaria,status
0,2,rATz5acGqEV0,tereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee...,1,Mobilizado
1,4,Q84TDzDkEPHe,zeladorx@zeladorx.com.br,1,Mobilizado
2,5,uShhQJaB5QNe,terreno edita jupyter,1,Mobilizado
3,7,acg0vezB2MZj,terreno edita jupyter,6,Mobilizado